body {
    margin: auto;
}

.wrapper {
    margin: auto;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
}

.wrapper__content, .aside__item, .menu, .form, .cardbox {
    display: flex;
    flex-direction: row;
}

.aside, .card {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
}



.menu {
    display: flex;
    flex-direction: row;
}

.menu_item {
    display: flex;
    flex-direction: column;
}
