* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif ;
    max-width: 1100px;
}

button {
    cursor: pointer;
}

a, ul {
    text-decoration: none;
    color: #34ACA7;
}

li {
    list-style-type: none;
}

h2, p, ul, li {
    margin: 0;
    padding: 0;
}

.smokie {
   color: #E5E5E5;
}

.italic {
    font-style: italic;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin-top: 46px;
    max-width: 1100px;

}

.first:first-child {
    margin-right: 44px;
}

/*----header---*/

.header {
    width: 140px;
}

.menu__item {
    align-items: center;
    margin-bottom: 36px;
}

.menu__title {
    padding-left: 15px;
    font-size: 14px;
    line-height: 14px;
}

/*---TWEET---*/

.tweet__title {
    padding: 5px 0;
    font-family: Verdana;
    font-size: 12px;
    line-height: 12px;
    border-bottom: 1px dashed #E5E5E5;
}

.tweet__text {
    padding: 10px 0;
    font-size: 10px;
    line-height: 19px;
}

.tweet__button {
    align-items: center;
    margin: 9px 0 5px 0;
    padding: 0;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
}

.tweet__icon {
    margin: 8px 5px;
    width: 16px;
    height: 13px;
    background: no-repeat center center;
    background-image: url(../icon/tweetter-smal-icon.svg);
}

.tweet__button-text {
    font-size: 9px;
    line-height: 12px;
    color: #34ACA7;
}



/*---baner---*/

.baner {
    position: relative;
}

.baner__img {
    height: 100%;
    width: 100%;
}

.baner__title, .baner__text {
    position: absolute;
    font-style: italic;
}

.baner__title {
    top: 285px;
    background: #FFFFFF;
    color: #000000;
    font-size: 22px;
    line-height: 22px;
    padding: 14px 28px;
}

.baner__text {
    top: 334px;
    background: #000000;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    padding: 14px 28px;
}

/*---tabs---*/

.tab-box {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.tab {
    justify-content: center;
    width: 25%;
    height: 85px;
    padding: 0 20px;
    background: #EFF8F7;
}

.tab:hover {
    background: #D9EFEC;
}

.tab__title {
    font-size: 18px;
    line-height: 18px;
}

.tab__text {
    font-size: 10px;
    line-height: 19px;
    font-style: italic;
}

/*---form---*/

.form {
    align-items: center;
    justify-content: space-around;
    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;
    padding: 9px;
}

.form >*{
    margin-left: 9px;
    margin-right: 9px;
}

.form__text{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.form__input-text {
    width: 160px;
    height: 22px;
    border: 1px solid #E5E5E5;
}

.form__button {
    width: 80px;
    height: 23px;
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    cursor: pointer;
}

/*---card---*/

.card-box {
    flex-wrap: wrap;
    padding-bottom: 7px;
    justify-content: space-between;
}

.card {
    width: 207px;
    padding-top: 10px;
}

.card__img-wrap {
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.card__img {
    border: 11px solid #FFFFFF;
    box-sizing: border-box;
    width: 100%;
}

.card__caption h2 {
    font-size: 16px;
}

.card__caption, .card__text, .card__footer {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;  
}

.card__caption {
    padding-top: 11px;
    line-height: 21px;
}
.card__text {
    padding-top: 9px;
}

.card__footer {
    padding-top: 9px;
}

.card__caption, .card__read-more, a {
    color: #34ACA7;
}

.card__data::after {
    content: "/";
}

.card__read-more::after {
    content: "...";
}

/*---footer---*/

.footer {
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 12px;


    justify-content: space-between;
    border-top: 2px solid #E5E5E5;
    padding: 26px 8px 35px 8px;
}

.footer__use-box a {
    color: #34ACA7;
}

.footer__use::after {
    content: " | ";
    color: #E5E5E5;    
}

.footer__use-box :last-child::after{
    content: "";
}

.footer__social-box :first-child :first-child {
    margin-left: 0;
}

.footer__icon {
    width: 32px;
    height: 32px;
    background: no-repeat center center;
    margin-left: 5px;
}

.footer__info :last-child {
    padding-top: 5px;
}


/*---icons---*/

.twitter-icon {
    background-image: url(../icon/twitter-icon.svg)
}

.fb-icon {
    background-image: url(../icon/fb-icon.svg)
}

.rss-icon {
    background-image: url(../icon/rss-icon.svg)
}
