body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif ;
}

a {
    text-decoration: none;
}

.smokie {
   color: #E5E5E5;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin: auto;
    max-width: 1100px;

    display: flex;
    flex-direction: column;
}
/*
.aside__icon {
    position: relative;
}

.aside__icon::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 7px;
  /*  background: url(../icon/food-icon.svg) no-repeat center center / cover;*/
/*}

.aside__icon_food::before {
    background-image: url(../icon/food-icon.svg);
}

*/

.wrapper__content, .aside__item, .menu, .form, .cardbox {
    display: flex;
    flex-direction: row;
}

.aside, .card {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
}



.menu {
    display: flex;
    flex-direction: row;
}

.menu_item {
    display: flex;
    flex-direction: column;
}


/*---footer---*/

.footer {
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 12px;


    justify-content: space-between;
    border-top: 2px solid #E5E5E5;
    padding: 26px 8px 35px 8px;
}

.footer__use-box a {
    color: #34ACA7;
}

.footer__use::after {
    content: " | ";
    color: #E5E5E5;    
}

.footer__use-box :last-child::after{
    content: "";
}

.footer__social-box :first-child :first-child {
    margin-left: 0;
}

.footer__icon {
    width: 32px;
    height: 32px;
    background: no-repeat center center;
    margin-left: 5px;
}

.footer__info :last-child {
    padding-top: 5px;
}


/*---icons---*/

.twitter-icon {
    background-image: url(../icon/twitter-icon.svg)
}

.fb-icon {
    background-image: url(../icon/fb-icon.svg)
}

.rss-icon {
    background-image: url(../icon/rss-icon.svg)
}
