@import "variables/variables";

.baner {
    position: relative;
}

.baner__img {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    overflow: hidden;
}

.baner__description {
    bottom: 69px;
    align-items: flex-start;
    position: absolute;
    font-style: italic; 
}

.baner__title, .baner__text {
    padding: 13px 20px;
}

.baner__title {
    color:$black-color;
    font-size: 22px;
    line-height: 22px;
    background: $white-color;
}

.baner__text {
    color: $white-color;
    font-size: 14px;
    line-height: 14px;
    background: $black-color;
}

@media only all and (min-width: 481px) and (max-width: 769px) {
    .baner {
        height: 353px;
    }
    
    .baner__description {
        bottom: 0px;
        align-items: stretch;
        width: 100%;
        overflow: hidden;
    }
    
    .baner__title, .baner__text {
        padding: 14px 10px;
    }

    .baner__title {
        opacity: 0.6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
    }

}

@media only all and (max-width: 480px) {
    .baner {
        height: 373px;
        overflow: hidden;
    }
    .baner__description {
        bottom: 0px;
        width: 100%;
        overflow: hidden;
    }

    .baner__title {
        opacity: 0.6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .baner__title, .baner__text {
        padding: 14px 10px;
        width: 100%;
    }

    .baner__img {
        object-fit: cover;
    }
}
