.wrapper {
    margin-top: 46px;
}


@media only all and (min-width: 1177px) {

    .wrapper {
        margin: 50px 135px 0px 135px;
    }

    .content {
        display: flex;
        flex-direction: row;
    }

    .content__aside {
        width: 140px;
    }

    .content-margin:first-child {
        margin-right: 44px;
    }
}

@media only all and (min-width: 993px) and (max-width: 1176px) {
    .wrapper {
        margin: 50px 135px 0px 135px;
    }

    .content {
        display: flex;
        flex-direction: row;
    }

    .content__aside {
        width: 140px;
    }

    .content-margin:first-child {
        margin-right: 44px;
    }


}

@media only all and (min-width: 769px) and (max-width: 992px) {
    .wrapper {
        margin: 20px 100px 0px 100px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .content-margin:first-child {
        margin-bottom: 50px;
    }
}

@media only all and (min-width: 481px) and (max-width: 769px) {
    .wrapper {
        margin: 20px 30px 0px 30px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .content-margin:first-child {
        margin-bottom: 40px;
    }
}

@media only all and (max-width: 480px) {
    .wrapper {
        margin: 35px 25px 0px 25px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .content-margin:first-child {
        margin-bottom: 40px;
    }
}