.wrapper {
    margin-top: 46px;
    max-width: 1100px;
}



.content-margin:first-child {
    margin-right: 44px;
}

.content__aside {
    width: 140px;
}


@media only all and (min-width: 1177px) {
    .content {
        display: flex;
        flex-direction: row;
    }
}

@media only all and (min-width: 993px) and (max-width: 1176px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}

@media only all and (min-width: 769px) and (max-width: 9926px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}

@media only all and (min-width: 481px) and (max-width: 769px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}

@media only all and (max-width: 480px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}