.footer {
    padding: 26px 8px 35px 8px;   
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 12px;

    justify-content: space-between;
    border-top: 2px solid #E5E5E5;
}

.footer__use-box a {
    color: #34ACA7;
}

.footer__use::after {
    content: " | ";
    color: #E5E5E5;
    white-space: pre;
}

.footer__use:last-child::after{
    content: "";
}

.footer__use-box:first-child, .footer__text:first-child{
    margin-bottom: 5px;
}

.footer__icon {
    width: 32px;
    height: 32px;
    background: no-repeat center center;
}

.footer__social {
    margin-left: 5px;
}

.footer__social:first-child {
    margin-left: 0;
}

.footer__info:last-child, .footer__social-box:last-child {
    margin-left: 5px;
}

.twitter-icon {
    background-image: url(../../icon/twitter-icon.svg)
}

.fb-icon {
    background-image: url(../../icon/fb-icon.svg)
}

.rss-icon {
    background-image: url(../../icon/rss-icon.svg)
}