.subscribe {
    margin-top: 18px;
    padding: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;
}

.subscribe__description,
.subscribe__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subscribe__description:not(:first-child),
.subscribe__form:not(:first-child) {
    margin-left: 8px;
}

.subscribe__img:not(:first-child),
.subscribe__text:not(:first-child) {
    margin-left: 16px;
}

.subscribe__input-text:not(:first-child),
.subscribe__button:not(:first-child) {
    margin-left: 18px;
}

.subscribe__text{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.subscribe__form {
    align-self: stretch;
}
.subscribe__input-text {
    height: 23px;
    border: 1px solid #E5E5E5;
    flex-grow: 1;
}

.subscribe__input-text::placeholder {
    padding: 6px;
    font-size: 10px;
    line-height: 10px;
    color: #E5E5E5;
}

.subscribe__button {
    width: 80px;
    height: 23px;
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    cursor: pointer;
}

@media only all and (min-width: 481px) and (max-width: 769px) {
    .subscribe {
        margin-top: 39px;
        flex-direction: column;
    }

    .subscribe__description:first-child,
    .subscribe__form:first-child {
        margin-bottom: 17px;
    }

    .subscribe__description:not(:first-child),
    .subscribe__form:not(:first-child) {
        margin-left: 0;
    }

}

@media only all and (max-width: 480px) {
    .subscribe {
        margin-top: 25px;
        flex-direction: column;
    }

    .subscribe__form {
        flex-wrap: wrap;
    }
    .subscribe__input-text {
        flex-grow: 0;
    }

    .subscribe__description:first-child,
    .subscribe__form:first-child {
        margin-bottom: 17px;
    }

    .subscribe__description:not(:first-child),
    .subscribe__form:not(:first-child) {
        margin-left: 0;
    }
}