.tab-box {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.tab {
    justify-content: center;
    width: 25%;
    padding: 26px 0px 22px 20px;
    background: #EFF8F7;
}

.tab:hover {
    background: #D9EFEC;
}

.tab__title {
    font-size: 18px;
    line-height: 18px;
}

.tab__text {
    font-size: 10px;
    line-height: 19px;
    font-style: italic;
}


@media only all and (min-width: 993px) and (max-width: 1176px) {
    .tab {
        padding: 10px;
    }
    .tab__text {
        display: none;
    }
    .tab__title {
        align-self: center;
        font-size: 14px;
    }
}

@media only all and (min-width: 769px) and (max-width: 992px) {
    .tab {
        padding: 10px;
    }
    .tab__text {
        display: none;
    }
    .tab__title {
        align-self: center;
        font-size: 14px;
    }
}

@media only all and (min-width: 481px) and (max-width: 768px) {
    .tab-box {
        display: none;
    }
}

@media only all and (max-width: 480px) {
    .tab-box {
        display: none;
    }
}
